
## Muddler Build artifacts
build/
**/.output

# Using as a checklist for converting events
MSDP_handler_checklist.xml

# MUSHClient soundpack extension
# Local copy for reference
soundpack

# Macos
.DS_Store

ErionSoundpack/sounds

# Ignore Muddler executables
muddler/bin
muddler/lib

sounds

# Mudlet lua files
library
